<%-include('../layouts/header')-%>
<script>
  function validateform(){  
      var email = document.forms[0].email.value.trim();
      var name = document.forms[0].name.value.trim();   
      var phoneNo = document.forms[0].phoneNumber.value.trim();
      var validRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
  
      if (!name) {
          alert("Enter a name");
          return false;
      }
  
      if (!email) {  
          alert("Please enter an email address");
          document.forms[0].email.focus();
          return false;  
      } else if (!validRegex.test(email)) {
          alert("Invalid email address!");
          document.forms[0].email.focus();
          return false;
      }
  
      if (!phoneNo) {
          alert("Please enter a mobile number");
          return false;
      }
  
      return true;
  }
  </script>
  

<div class="background-signin" >
</div>
  <div class="container text-center" id="box-signin">
    <h1 id="h1">Edit user</h1>
   <br>
   <%if(locals.message){%>
    <small id="message"><%=message%></small>
    <%}%>
    <form method="post" action="/admin/update_user?id=<%=student._id%>" onsubmit="return validateform()">
      <div class="mt-3">
        <input type="text" class="placeholder" name="name" placeholder="Enter name" value="<%=student.name%>" required>
      </div>
      <div>
      <div>
        <input type="email" class="placeholder" name="email" placeholder="Enter email" value="<%=student.email%>" required>
      </div>
      <div>
        <input type="text" class="placeholder" name="phoneNumber" placeholder="Enter mobile number"value="<%=student.phoneNumber%>" required>
      </div>
      <button type="submit" class="btn btn-danger" id="btn-signup" >Submit</button>
    </form>
  </div>

  <%-include('../layouts/footer')-%>